
{% block board %}
  {% for i in range(0,size) %}
        <div class="row">
            {% for j in range(0,size) %}
            <div id="x{{i}}y{{j}}" class="col board-elem">

            </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}