<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>Stratego</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <div class ="container">
        <div class="mt-3">
            <button id="pvsp" type="button" class="btn btn-secondary">Player vs Player</button>
            <button id ="pvsai" type="button" class="btn btn-secondary">Player vs AI</button>
            <button id ="aivsai" type="button" class="btn btn-secondary">AI vs AI</button>
            <button id = "start" type="button" class="btn btn-primary">Start</button>
        </div>
        <div class="mt-3">
            <span>player 1:</span>
            <button id="minmax1" type="button" class="btn btn-secondary">Minmax</button>
            <button id ="alfabeta1" type="button" class="btn btn-secondary">Alfabeta</button>
            <span class = "ml-3">player 2(AI):</span>
            <button id="minmax2" type="button" class="btn btn-secondary">Minmax</button>
            <button id ="alfabeta2" type="button" class="btn btn-secondary">Alfabeta</button>
        </div>
        <div class="mt-3">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Choose depth for player 1:</span>
              </div>
              <input type="text" class="form-control" id="depth-p1-input">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" >Choose depth for player 2:</span>
              </div>
              <input type="text" class="form-control" id="depth-p2-input">
            </div>
        </div>
        <div class="mt-3">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Choose size of Board:</span>
              </div>
              <input type="text" class="form-control" id="board-size-input" aria-describedby="basic-addon3">
            </div>
        </div>
        <div>
            <span>Player1 points: </span>
            <span id="player1-points"></span>
            <span id="player2-points" class="float-right"></span>
            <span class="float-right">Player2 points: </span>
        </div>
        <div id="board">
            <!--{% block board %}{% endblock %}-->
        </div>
    </div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>